body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu" , Arial, Helvetica, sans-serif;
  line-height: 1.42;
  color: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  min-height: rem(650px);

  @include tablets {
    font-size: 15px;
  }

  @include phones {
    font-size: 13px;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

h1, h2, h3, p {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

a, button {
  text-decoration: none;
  background-color: yellow;
  display: block;
  margin: 0;
  padding: 0;
  background: none;
  position: relative;
  border:none;
  width:100%;
  &:hover {
    cursor: pointer;
  }
}