//config

@import "config/variable.scss";
@import "config/mixins.scss";

//resolution
$tablets: 768px;
$phones: 480px;
//base

@import "layout/font.scss";
@import "layout/base.scss";
@import "layout/adjustment.scss";

//section
@import "section/index.scss";
