extends ../loyout

block variables
    - var title= "Главная страница"

block content
    .wrapper
        .paralax__container
        .login-btn
            button.login-btn__button
                span.login-btn__text Авторизоваться
        section.welcome
            .welcome-block
                .welcome-block_content
                    .welcome-block__avatar(style='background-image: url(images/content/avatar.jpg)')
                    .welcome-block__info
                        h1.welcome-block__name Poymenov Konstantin
                        h2.welcome-block__text Личный сайт веб разработчика
                    .social
                        ul.social__list
                            each social in ['vk', 'github', 'in']
                                li.social__item
                                    a(class=`social__link social__link_${social}` href='#')
                                        img.social__img(src=`images/icons/${social}.svg` alt='' style='fill: #000')
                .nav
                    ul.nav__list
                        li.nav__item
                            a.nav__link Мои работы
                        li.nav__item
                            a.nav__link Обо мне
                        li.nav__item
                            a.nav__link Блог