.hero{
  .user__page {
    font-family: 'Sansus_webissimo';
    @include font-size(63px);
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
  }
}

.blog {
  background-color: #faf8f0;
  display: flex;
}

.double-triagle {
  position: absolute;
  bottom: 99.9%;
  width: 100%;
  min-height: 150px;
  @include phones {
    min-height: 70px;
  }
}

.double-triagle__svg {
  fill: #faf8f0;
  position: absolute;
  bottom: 0;
}

.blog-left {
  width: 30%;
  padding: 2% 0;
  position: relative;
  @include tablets {
    width: 55%;
    height:100%;
    display: block;
    position: absolute;
    right:100%;
    background-color: #253468;
    transition: right .3s;
    top: 0;
    &.blog-left-active-mob {
      left:0;
      transition: right .3s;
      z-index:10;
      position: fixed;
      .blog-left__circle {
        left: 50%;
        @include phones {
          left:70%;
        }
      }
      @include phones {
        width:80%;
        .posit-fixed {
          right: 25%;
        }
      }
    }
  }
  @include phones {
    width: 100%;
  }

}

.blog-nav {
  &.posit-fixed {
    position: fixed;
    top: 2%;
    width:inherit;
    @include tablets {
      width: auto;
      padding: 2% 3%;
    }
  }
}

.blog-nav__item {
  &.blog-left-active {
    .blog-nav__link {
      color: #004cd1;
      border-right: 2px solid #004cd1;
      @include tablets {
        color: #ffffff;
        font-weight: 500;
        border-right: none;
      }
    }
  }
}

.blog-nav__link {
  font-family: 'Sansus_webissimo';
  @include font-size(16px);
  font-weight: 400;
  color: $grey;
  padding: rem(15px);
  text-align: right;
  @include tablets {
    color: #cfd1d9;
    font-weight: 300;
    padding:rem(15px) 0;
  }
}

.blog-left__circle {
    @include tablets {
    height:70px;
    width:70px;
    border-radius: 50%;
    background-color: #253468;
    position: fixed;
    left: -15%;
    top:50%;
    &.blog-left__circle-active {
      left: -5%;
    }
  }
    @include phones {
      left: -20%;
      &.blog-left__circle-active {
        left: -11%;
      }
    }
}

.blog-right {
  width: 70%;
  padding: 2% 6%;
  @include tablets {
    width:100%;
  }
}

.article {
  border-bottom: 5px solid #ecebe4;
  margin-bottom: rem(40px);
  padding-bottom: rem(40px);
  &:last-child {
    border-bottom: none;
    margin-bottom: rem(40px);
    padding-bottom: 0;
  }
}

.article__title {
  font-family: 'Sansus_webissimo';
  @include font-size(35px);
  font-weight: 400;
  color: $grey;
  margin-bottom: rem(15px);
}

.article__date {
  font-family: 'Roboto';
  @include font-size(16px);
  font-weight: 400;
  color: #9fa8c5;
  margin-bottom: rem(15px);
}

.article__text {
  font-family: 'Roboto';
  @include font-size(16px);
  font-weight: 400;
  color: $grey;
  p {
    line-height: 1.6;
    margin-bottom: rem(10px);
  }
}