.hero{
  .user__page {
    font-family: 'Sansus_webissimo';
    @include font-size(63px);
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
  }
}

.blog {
  background-color: #faf8f0;
  display: flex;
}

.double-triagle {
  position: absolute;
  bottom: 99%;
  width: 100%;
  min-height: 150px;
  @include phones {
    min-height: 70px;
  }
}

.double-triagle__svg {
  fill: #faf8f0;
  position: absolute;
  bottom: 0;
}

.blog-left {
  width: 30%;
  padding: 2% 3%;
  @include tablets {
    display: none;
  }
  @include phones {
    width: 80%;
    height:100%;
    display: block;
    position: absolute;
    right:100%;
    background-color: #253468;
    transition: right .3s;
    &.active_a {
      right:21%;
      transition: right .3s;
    }
  }

}

.blog-nav__item {
  &.active_a {
    .blog-nav__link {
      color: #004cd1;
      border-right: 2px solid #004cd1;
      @include phones {
        color: #ffffff;
        font-weight: 500;
        border-right: none;
      }
    }
  }
}

.blog-nav__link {
  font-family: 'Sansus_webissimo';
  @include font-size(16px);
  font-weight: 400;
  color: $grey;
  padding: rem(15px);
  text-align: right;
  @include phones {
    color: #cfd1d9;
    font-weight: 300;
    padding:rem(15px) 0;
  }
}

@include phones {
  .blog-left__circle {
    height:100px;
    width:100px;
    border-radius: 50%;
    background-color: #253468;
    position: absolute;
    top:20%;
    left:72%;
  }
}

.blog-right {
  width: 70%;
  padding: 2% 6%;
  @include tablets {
    width:100%;
  }
}

.article {
  border-bottom: 5px solid #ecebe4;
  margin-bottom: rem(40px);
  padding-bottom: rem(40px);
  &:last-child {
    border-bottom: none;
    margin-bottom: rem(40px);
    padding-bottom: 0;
  }
}

.article__title {
  font-family: 'Sansus_webissimo';
  @include font-size(35px);
  font-weight: 400;
  color: $grey;
  margin-bottom: rem(15px);
}

.article__date {
  font-family: 'Roboto';
  @include font-size(16px);
  font-weight: 400;
  color: #9fa8c5;
  margin-bottom: rem(15px);
}

.article__text {
  font-family: 'Roboto';
  @include font-size(16px);
  font-weight: 400;
  color: $grey;
  p {
    line-height: 1.6;
    margin-bottom: rem(10px);
  }
}