.footer__top {
   background: rgba(71, 75, 87, .85);
   display: flex;
   flex:1 1 auto;
   color: #ffffff;
   padding: rem(25px) 0;

   @include tablets {
     display: block;
     padding:rem(25px) rem(20px);
   }
 }

.footer__col {
  border-right: 1px solid #4e5563;
  padding: 0 rem(20px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &:last-child {
    border-right: none;
  }
  @include tablets {
    border-right: none;
  }
}

.footer__col--left {
  flex: 2;
  @include tablets {
    text-align: center;
    padding-bottom: rem(20px);
    border-bottom: 1px solid #4e5563;
    margin-bottom: rem(15px);
  }
}

.footer__col--center {
  flex: 2;
  @include tablets {
    width: 50%;
    float: left;
  }
  @include phones {
    width: 100%;
    display: flex;
    align-items: center;
    padding-bottom: rem(10px);
    border-bottom: 1px solid #4e5563;
    margin-bottom: rem(15px);
  }
}

.footer__row {
  .social {
    display: flex;
  }
  .menu__list {
    display: flex;
  }
  .menu__list {
    justify-content: space-between;
  }
  .menu__item {

  }
  .menu__link {
    color: #ffffff;
    @include font-size(16px);
    font-family: Roboto;
    font-weight: 400;
    transition: all 0.3s;
    &:hover {
      color: $blue;
      transition: all 0.3s;
    }
  }
}

.footer__col--right {
  flex: 1;

  @include tablets {
    width:50%;
    text-align: right;
  }

  @include phones {
    width: 100%;
    text-align: center;
  }
}

.footer-contact__link {
  color: #ffffff;
  @include font-size(16px);
  font-family: Roboto;
  font-weight: 100;
  line-height: 2;
}

.footer__bottom {
  background: rgba(4, 71, 189, .85);
  text-align: center;
  padding:rem(10px);
  color: #ffffff;
  @include font-size(16px);
  font-family: Roboto;
  font-weight: 100;
}