.paralax__container {
  background-image: url(../images/bg/main_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 0;
}

.login-btn {
  position: absolute;
  top: 5%;
  right: 5%;
  z-index: 10;
  @include phones {
    right:50%;
    transform: translateX(50%);
  }
}

.login-btn__button {
  border: 1px solid #ffffff;
  background-color: transparent;
  padding: rem(15px) rem(25px);
  transition: background-color 0.4s, border 0.4s;
    &:hover {
      background-color: $darkBlue;
      border-color: transparent;
    }
}

.login-btn__text {
  color: #ffffff;
  font-family: Roboto;
  font-weight: 500;
  @include font-size(16px);
}

.welcome {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flipper {
  perspective: 1000;
  width: rem(380px);
}

.flip-block {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
  min-height: 420px;
}

.welcome-block {
  background-color: rgba(24, 35, 62, 0.5);
  width: rem(380px);
  position: relative;
}

.flip-block__back, .flip-block__front{
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.flip-block__front{
  z-index:2;
}

.flip {
  .flip-block {
    transform: rotateY(180deg);
  }
}

.flip-block__back {
  transform: rotateY(180deg);
}

.welcome-block_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: rem(40px);
}

.welcome-block__avatar {
  border-radius: 50%;
  width: rem(140px);
  height: rem(140px);
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  margin-bottom: rem(15px);
}

.welcome-block__info {
  text-align: center;
  margin-bottom: rem(30px);
}

.welcome-block__name {
  color: #ffffff;
  line-height: 1.2;
  font-family: Roboto;
  font-weight: 500;
  @include font-size(28px);
  margin-bottom: 10px;
}

.welcome-block__text {
  color: #ffffff;
  font-family: Roboto;
  font-weight: 300;
  @include font-size(16px);
  line-height: 1.2;
}

.social__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social__item {
  padding:rem(10px) rem(12px) ;
}

.social__link {
  display: flex;
  width:rem(33px);
  height:rem(22px);
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  fill:#ffffff;
  &:hover {
    fill: $blue;
    transition: all 0.3s;
  }
}

.nav__list {
  display: flex;
}

.nav__item {
  border-right: 1px solid #7195d2;
  background-color: $blue;
  flex:1 1 auto;
  transition: background-color 0.4s;
  &:last-child {
    border-right-color: transparent;
  }
  &:hover {
    background-color: $darkBlue;
  }
}

.nav__link {
  color: #ffffff;
  font-family: Roboto;
  font-weight: 400;
  @include font-size(16px);
  display: inline-block;
  display: flex;
  align-items: center;
  padding: 15px;
  justify-content: center;
}

.welcome {
  height:100%;
}

.welcom-form__title {
  font-family: Sansus_webissimo;
  font-weight: 400;
  @include font-size(35px);
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: rem(35px);
}

.welcom-form__input {
  width:100%;
  border:none;
  padding: rem(15px) rem(65px) rem(15px);
  color: #c4cbcd;
  font-family: Roboto;
  font-weight: 400;
  @include font-size(16px);
  background-image: url("../images/icons/sprite.svg");
  &#login {
    background-position: 0 0;
  }
}

.signature {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 3%;
}

.welcom-form__input_item {
  position: relative;
  margin-bottom: rem(20px);
}

.welcom-form__input_block {
  position: absolute;
  height: 100%;
  width: 45px;
  top: 1px;
  left: 0;
  background-color: #f0efe9;
  .welcom-form__input_svg {
    position: absolute;
    top:13px;
    left:12px;
    fill: #c4cbcd;
  }
}

.welcom-form__block_check {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signature__block {
  color: #ffffff;
  font-family: Roboto;
  font-weight: 300;
  @include font-size(16px);
}

.welcom-form__label {
  display: flex;
  align-items: center;
  justify-content: center;
  .welcom-form__label_title {
    color: #ffffff;
  }

  &.welcom-form__label-radio {
    .welcom-form__label{
      &:first-child {
        margin-right: rem(20px);
      }
    }
    .welcom-form__input-my {
      border-radius: 50%;
      background-color: #ffffff;
    }
    .welcom-form__input_select:checked + .welcom-form__input-my:after {
      content: '';
      position: absolute;
      top:rem(5px);
      left:rem(5px);
      width:rem(10px);
      height:rem(10px);
      border-radius: 50%;
      background-color: $darkBlue;
    }
  }

  &.welcom-form__label-check {
    margin-bottom: rem(5px);
    .welcom-form__input_select:checked + .welcom-form__input-my:after {
      content: '';
      position: absolute;
      top:0;
      left:0;
      width:rem(15px);
      height:rem(15px);
      background-image: url("../images/icons/check.svg");
      background-repeat: no-repeat;
      background-size: cover;
      fill: #ffffff;
      background-size: 10px;
      margin: 7px 6px;
    }
  }
}

.welcom-form__label-radio {
  display: flex;
}

.welcom-form__input-my {
  width: rem(21px);
  height: rem(21px);
  background: $blue;
  position: relative;
  margin-right: rem(10px);
  border-radius: 2px;
}

.welcom-form__input_select {
  position: absolute;
  top: 0;
  opacity: 0;
}

.welcom-form__text {
  color: #ffffff;
  font-family: Roboto;
  font-weight: 700;
  @include font-size(16px);
  margin-bottom: rem(5px);
}