.hamburger
    a.hamburger__link
        span.hamburger__link_item
.hamburger-menu
    nav.hamburger-menu__nav
        ul.hamburger-menu__list
            li.hamburger-menu__item.hamburger-menu__item--active
                a.hamburger-menu__link(href='work.html') Мои работы
            li.hamburger-menu__item
                a.hamburger-menu__link(href='blog.html') Блог
            li.hamburger-menu__item
                a.hamburger-menu__link(href='about.html') Обо мне
            li.hamburger-menu__item
                a.hamburger-menu__link(href='index.html') Авторизация